body {
  background-color: #060606;
  color: #E0E0E0;
  font-family: "Satoshi";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, li {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  color: inherit;
  font-family: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Satoshi", sans-serif;
  font-size: 14px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3 {
  font-weight: 700;
  font-size: 20px;
}

.sidebar {
  display: none;
}

.mobile-library {
  padding: 16px;
}

.mobile-library-header {
  display: flex;
  align-items: center;
  gap: 12px;
}

.search-form {
  flex-grow: 1;
}

.search-input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
  background-color: rgba(32, 32, 32, 0.5019607843);
  border-radius: 10px;
  padding-left: 8px;
  padding-right: 8px;
}
.search-input-wrapper .search-icon {
  width: 35.41px;
  height: auto;
}
.search-input-wrapper input {
  background-color: transparent;
  border: none;
  font-size: 14px;
  font-weight: 500;
  font-style: medium;
}

.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
  margin-bottom: 10px;
  margin-top: 12px;
}
.filter button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0px;
}

.mobile-library-item {
  border-bottom: 2px solid #202020;
}
.mobile-library-item a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
  padding-bottom: 20px;
}
.mobile-library-item span {
  font-size: 20px;
  font-weight: 700;
}

@media (min-width: 768px) {
  .mobile-library {
    display: none;
  }
  .sidebar {
    display: flex;
    flex-direction: column;
    color: #898989;
    font-size: 14px;
    font-weight: 400;
  }
  .sidebar-nav-list {
    display: flex;
    flex-direction: column;
    gap: 11px;
    padding-left: 17px;
    padding-top: 14px;
  }
  .sidebar-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0px;
  }
  .sidebar-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
  }
  .sidebar-link:hover {
    color: #E0E0E0;
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #060606;
  border-bottom: 1px solid #202020;
  padding: 15px 24px;
  min-height: 70px;
}
.navbar .navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  margin-right: 20px;
}
.navbar .nav-group {
  display: flex;
  align-items: center;
  gap: 20px;
}
.navbar .nav-group.right.section {
  gap: 12px;
  margin-left: auto;
}
.navbar .nav-link {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #898989;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
}
.navbar .nav-link.active {
  color: #E0E0E0;
}
.navbar .nav-link.active .icon-box.active-bg {
  background-color: #202020;
}
.navbar .nav-link:hover {
  color: #E0E0E0;
}
.navbar .search-container {
  display: flex;
  align-items: center;
  background-color: #202020;
  border-radius: 10px;
  padding: 8px 15px;
  width: 280px;
  margin-left: 20px;
}
.navbar .search-container .Search-input {
  background: transparent;
  border: none;
  outline: none;
  color: #E0E0E0;
  padding-left: 10px;
  width: 100%;
  font-size: 12px;
}
.navbar .search-container .Search-input::placeholder {
  color: #898989;
}
.navbar .icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 8px;
}
.navbar .icon-box img {
  width: 22px;
  height: 22px;
}
.navbar .profile-box {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #202020;
  cursor: pointer;
}
.navbar .profile-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes marquee-scroll {
  0% {
    transform: translateX(0);
  }
  85%, 100% {
    transform: translateX(-50%);
  }
}
.player {
  position: fixed;
  bottom: 95px;
  left: 0;
  right: 0;
  background-color: #333842;
  border-radius: 10px;
  width: 100vw;
  height: 61px;
  margin: 0 8px;
  padding: 8px;
  font-family: "satoshi";
  z-index: 100;
  transition: height 0.3s ease;
}

.left-cont {
  display: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.center img {
  width: 43px;
  height: 43px;
  padding-right: 8px;
}

.song-info {
  display: flex;
  flex-direction: column;
  gap: 2px;
  letter-spacing: 3%;
  line-height: 100%;
  font-size: 14px;
  font-weight: 400;
}
.song-info .song-name {
  position: relative;
  overflow: hidden;
  width: 150px;
}
.song-info .song-name::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 28px;
  z-index: 2;
  pointer-events: none;
  right: 0;
  background: linear-gradient(to left, #333842, transparent);
}
.song-info .song-name .marquee {
  display: flex;
  width: max-content;
  animation: marquee-scroll 8s ease-in-out infinite;
}
.song-info .song-name .song {
  padding-right: 60px;
  color: #E0E0E0;
}
.song-info .artist {
  color: #898989;
}
.song-info .album {
  display: none;
}

.progress-bar {
  width: 90%;
  position: fixed;
  bottom: 95.5px;
  left: 12px;
  right: 0;
}

.right-cont {
  display: none;
}

@media (min-width: 768px) {
  .player {
    max-width: 1491px;
    height: 81px;
    bottom: 0;
    padding: 0;
    margin: 4px 7px;
    display: flex;
    flex-direction: row;
    margin-left: auto;
  }
  .left-cont {
    display: flex;
    align-items: center;
    margin: 21px 0 20px 21px;
    max-width: 655px;
  }
  .left-time {
    color: #898989;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 3%;
    line-height: 100%;
    margin: 11px 10px 13px 5px;
  }
  .playback-bar {
    margin: 4px 0;
    transition: transform 0.1s;
  }
  .playback-bar .bar-hover {
    display: none;
  }
  .playback-bar:hover :first-child {
    display: none;
  }
  .playback-bar:hover :last-child {
    display: block;
  }
  .center {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 250px;
    height: 57px;
    padding: 3px 0;
    margin: 12px 26px;
  }
  .center img {
    width: 51px;
    height: 51px;
  }
  .center .song-name .marquee {
    animation: none;
  }
  .center .song-name .marquee span {
    display: none;
  }
  .center .album {
    display: block;
    color: #898989;
  }
  .center .play-sm, .center .add-sm, .center .progress-bar {
    display: none;
  }
  .right-cont {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin: 16px 16px 16px 200px;
  }
  .add-window {
    position: absolute;
    bottom: 137%;
    right: 0;
    width: 372px;
    z-index: 10;
    background-color: rgba(32, 32, 32, 0.8);
    border-radius: 10px;
  }
  .add-window .add-header {
    color: #E0E0E0;
    padding: 17px 24px 17px;
    border-bottom: 1px solid rgba(137, 137, 137, 0.3);
    font-size: 14px;
    font-weight: 500;
  }
  .add-window .add-search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 21px 23px;
    background-color: #060606;
    border-radius: 10px;
    border: none;
  }
  .add-window .add-search input {
    background-color: transparent;
    border: none;
    margin: 18px 19px;
    color: rgba(137, 137, 137, 0.7);
    font-size: 14px;
    font-weight: 500;
  }
  .add-window .add-search .search {
    margin: 8px 7.5px;
  }
  .add-window .new-list {
    display: flex;
    justify-content: center;
    margin: 0 23px;
  }
  .add-window .new-list span {
    margin: 11px 10px;
    text-align: center;
    color: #E0E0E0;
    font-size: 14px;
    font-weight: 500;
  }
  .add-window .album-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid rgba(137, 137, 137, 0.3);
    padding: 12px 23px 31px 23px;
    gap: 15px;
  }
  .add-window .album-list span {
    margin: 11px 161px 11px 10px;
    text-align: center;
    color: #E0E0E0;
    font-size: 14px;
    font-weight: 500;
  }
  .add-window .album-list .playlists {
    display: flex;
    flex-direction: row;
  }
  .add-window .album-list .right-btn {
    width: 40.41px;
    height: 40.41px;
  }
  .add-window .playlist-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .lyrics-window {
    position: absolute;
    bottom: 102%;
    right: 15%;
    width: 432px;
    height: 535px;
    z-index: 10;
    background-color: rgba(32, 32, 32, 0.8);
    border-radius: 10px;
  }
  .lyrics-window .lyrics-header {
    display: flex;
    flex-direction: row;
    margin-top: 7px;
    border-bottom: 1px solid rgba(137, 137, 137, 0.3);
  }
  .lyrics-window .lyrics-header span {
    color: #E0E0E0;
    margin: 10px 0 17px 23px;
  }
  .lyrics-window .lyrics-header .arrow {
    width: 40px;
    height: 40px;
    margin-right: 223px;
  }
  .lyrics-window .lyrics-content {
    display: flex;
    flex-direction: column;
    gap: 42px;
    margin: 20px 22px 30px 23px;
  }
  .lyrics-window .lyrics-content .upper {
    color: #E0E0E0;
    font-size: 20px;
    font-weight: 700;
    line-height: 200%;
  }
  .lyrics-window .lyrics-content .bottom {
    color: rgba(219, 219, 219, 0.2);
    font-size: 20px;
    font-weight: 700;
    line-height: 200%;
  }
  .lyrics-window .lyrics-content .bottom span {
    background: linear-gradient(to right, #E0E0E0 55%, rgba(219, 219, 219, 0.2) 20%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  .more-window {
    position: absolute;
    bottom: 102%;
    right: 10%;
    width: 287px;
    height: 609px;
    z-index: 10;
    background-color: rgba(32, 32, 32, 0.8);
    border-radius: 10px;
    padding: 17px 18px;
  }
  .more-window .more-list {
    display: flex;
    flex-direction: row;
    gap: 9px;
    margin-bottom: 13px;
  }
  .more-window .more-list img {
    width: 40px;
    height: 40px;
  }
  .more-window .more-list p {
    margin-top: 10px;
    color: #E0E0E0;
    font-size: 16px;
    font-weight: 500;
  }
  .more-window .more-list .forward-1 {
    margin-left: 50px;
  }
  .more-window .more-list .forward-2 {
    margin-left: 12px;
  }
  .more-window .more-list .forward-3 {
    margin-left: 75px;
  }
  .queue-window {
    position: absolute;
    bottom: 102%;
    right: 0%;
    width: 432px;
    height: 867px;
    z-index: 10;
    background-color: rgba(32, 32, 32, 0.8);
    border-radius: 10px;
  }
  .queue-header {
    display: flex;
    flex-direction: row;
    gap: 53px;
    color: #E0E0E0;
    padding: 17px 23px 17px;
    border-bottom: 1px solid rgba(137, 137, 137, 0.3);
    font-size: 14px;
    font-weight: 500;
  }
  .queue-list {
    display: flex;
    flex-direction: column;
  }
  .queue-list .queue-song-1 {
    display: flex;
    flex-direction: row;
    margin: 19px 16px 20px 23px;
  }
  .queue-list .queue-song-1 .cover {
    width: 53px;
    height: 53px;
  }
  .queue-list .queue-song-1 .cover .line-bar {
    position: absolute;
    z-index: 1;
    left: 6%;
    top: 9%;
  }
  .queue-list .queue-song-1 .name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    margin-left: 12px;
    margin-right: 106px;
  }
  .queue-list .queue-song-1 .name span {
    color: #E0E0E0;
    font-size: 16px;
  }
  .queue-list .queue-song-1 .name small {
    color: #898989;
    font-size: 12px;
  }
  .queue-list .next-up {
    color: white;
    font-size: 16px;
    font-weight: 700;
    margin: 16px 0 8px 23px;
  }
  .queue-list .album-functions {
    display: flex;
    flex-direction: row;
    width: 393.41px;
    height: 40.41px;
    margin: 8px 15.59px 14.59px 18px;
  }
  .queue-list .album-functions .album-icon {
    width: 24px;
    height: 24px;
    margin-top: 6px;
  }
  .queue-list .album-functions span {
    font-size: 16px;
    color: white;
    margin: 9px 44px 0 2px;
  }
  .queue-list .queue-song {
    display: flex;
    flex-direction: row;
    margin: 11px 16px 0 23px;
  }
  .queue-list .queue-song .cover {
    width: 53px;
    height: 53px;
  }
  .queue-list .queue-song .name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    margin-left: 12px;
    margin-right: 106px;
  }
  .queue-list .queue-song .name span {
    color: #E0E0E0;
    font-size: 16px;
  }
  .queue-list .queue-song .name small {
    color: #898989;
    font-size: 12px;
  }
  .queue-list .album-functions-2 {
    display: flex;
    flex-direction: row;
    width: 400.41px;
    height: 40.41px;
    margin: 11px 15.59px 14.59px 18px;
  }
  .queue-list .album-functions-2 .album-icon {
    width: 24px;
    height: 24px;
    margin-top: 6px;
  }
  .queue-list .album-functions-2 span {
    font-size: 16px;
    color: white;
    margin: 9px 148px 0 2px;
  }
  .queue-footer {
    width: 432px;
    height: 57px;
    display: flex;
    flex-direction: row;
    margin-top: 45px;
    border-top: 1px solid rgba(137, 137, 137, 0.3);
  }
  .queue-footer span {
    color: #E0E0E0;
    font-size: 14px;
    margin: 19px 162px 19px 23px;
  }
  .queue-footer img {
    width: 50px;
    height: 25.41px;
    margin: 16px 15.59px;
  }
}
@keyframes marquee-scroll {
  0% {
    transform: translateX(0);
  }
  85%, 100% {
    transform: translateX(-50%);
  }
}
.song-page {
  background: linear-gradient(to bottom, rgb(59, 65, 77) 0%, rgb(39, 43, 51) 100%);
  height: 100vh;
  font-family: "satoshi";
  border-radius: 10px;
}

.lyrics-input, .queue-input {
  display: none;
}

.song-header {
  padding: 57px 18px 53px 18px;
}

.mobile-header {
  display: flex;
  flex-direction: row;
}
.mobile-header .mobile-album-icon {
  width: 24px;
  height: 24px;
  margin-top: 8px;
  margin-left: 50px;
}
.mobile-header .mobile-album-name {
  margin-top: 10px;
  color: #E0E0E0;
  font-size: 12px;
}

.cover-bg {
  width: 100%;
  margin-bottom: 27px;
}

.song-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.song-right .mobile-song-info {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  width: 260px;
}
.song-right .mobile-song-info::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 30px;
  top: 0;
  bottom: 0;
  pointer-events: none;
  right: -2px;
  background: linear-gradient(to left, #333842, transparent);
}
.song-right .mobile-song-info h1 {
  width: max-content;
  color: #E0E0E0;
  font-size: 20px;
  animation: marquee-scroll 10s ease-in-out infinite;
}
.song-right .mobile-song-info p {
  color: #898989;
  font-size: 18px;
  margin-top: 4px;
}

.song-information .artist,
.song-information .artist-icon,
.song-information .dot,
.song-information .album-name,
.song-information .year,
.song-information .album-icon,
.song-information .duration,
.song-information .copies {
  display: none;
}

.song-nav {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-top: -5px;
}

.playback-btn, .list-add-btn, .download-btn, .share, .more-btn {
  display: none;
}

.genre, .singers {
  display: none;
}

.mobile-lyrics-view {
  display: none;
}

.mobile-lyrics-topbar {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  padding: 57px 18px 0 18px;
}
.mobile-lyrics-topbar .line-bar {
  width: 24px;
  height: 24px;
  margin-top: 8px;
  margin-left: 50px;
}
.mobile-lyrics-topbar span {
  margin-top: 10px;
  color: #E0E0E0;
  font-size: 12px;
}

.mobile-lyrics {
  display: flex;
  flex-direction: column;
  min-height: 0;
  max-height: 473px;
  flex: 1;
  overflow-y: auto;
  margin: 0px 18px 23px 18px;
  font-size: 20px;
  font-weight: 700;
  line-height: 180%;
  word-spacing: 3%;
}
.mobile-lyrics::-webkit-scrollbar {
  display: none;
}
.mobile-lyrics {
  scrollbar-width: none;
}

.lyrics-white {
  color: #E0E0E0;
}
.lyrics-white span {
  background: linear-gradient(to right, #E0E0E0 55%, rgba(219, 219, 219, 0.2) 20%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.lyrics-dark {
  color: #898989;
}

.mobile-queue-view {
  display: none;
}

.queue-header {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  padding: 57px 18px 0 18px;
}
.queue-header .line-bar {
  width: 24px;
  height: 24px;
  margin-top: 8px;
  margin-left: 50px;
}
.queue-header span {
  margin-top: 10px;
  color: #E0E0E0;
  font-size: 12px;
}

.mobile-queue {
  display: flex;
  flex-direction: column;
  min-height: 0;
  max-height: 473px;
  flex: 1;
  overflow-y: auto;
  margin: 0px 18px 23px 18px;
}
.mobile-queue::-webkit-scrollbar {
  display: none;
}
.mobile-queue {
  scrollbar-width: none;
}

.next-up {
  color: white;
  font-size: 16px;
  font-weight: 700;
}

.album-functions {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 0;
}
.album-functions span {
  color: white;
  font-size: 16px;
  font-weight: 400;
  margin-right: 40px;
}

.shuffle, .repeat {
  color: #898989;
  transition: color 0.02s, transform 0.1s;
}
.shuffle:hover, .repeat:hover {
  color: #E0E0E0;
  transform: scale(1.04);
}
.shuffle, .repeat {
  padding-left: 10px;
}

.queue-song {
  display: flex;
  flex-direction: row;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}
.queue-song::-webkit-scrollbar {
  display: none;
}
.queue-song {
  scrollbar-width: none;
}
.queue-song .song-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 100%;
  padding: 6px 0;
  scroll-snap-align: start;
}
.queue-song .song-content .cover {
  width: 53px;
  height: 53px;
  margin-right: 12px;
  border-radius: 10px;
  flex-shrink: 0;
}
.queue-song .song-content .name {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.queue-song .song-content .name span {
  color: #E0E0E0;
  font-size: 16px;
  font-weight: 400;
}
.queue-song .song-content .name p {
  color: #898989;
  font-size: 12px;
  font-weight: 400;
  margin-top: 5px;
}
.queue-song .song-content .move {
  width: 41px;
  height: 41px;
  flex-shrink: 0;
}

.close {
  width: 130px;
  margin-left: 5px;
  background-color: #B63F3F;
  color: #E0E0E0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-family: "satoshi";
  font-size: 12px;
  font-weight: 500;
  scroll-snap-align: end;
  flex-shrink: 0;
  border: none;
  cursor: pointer;
}

.song-duration {
  margin: 0 18px;
  display: flex;
  flex-direction: column;
}

.progress-bar-songpage {
  justify-content: center;
  margin-top: 21px;
}

.time-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 9px;
}

.control-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 11px 18px 37px 18px;
}

.mobile-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 57px;
}

.song-sticky-cont, .song-lyrics {
  display: none;
}

.player .add-sm {
  margin-left: 10px;
  color: #898989;
  transition: color 0.02s, transform 0.1s;
}
.player .add-sm:hover {
  color: #E0E0E0;
  transform: scale(1.04);
}

.player .play-sm {
  color: #898989;
  transition: color 0.02s, transform 0.1s;
}
.player .play-sm:hover {
  color: #E0E0E0;
  transform: scale(1.04);
}

.btn-playback {
  display: none;
}
.btn-playback ~ label #start {
  display: block;
}
.btn-playback ~ label #pause {
  display: none;
}
.btn-playback:checked ~ label #start {
  display: none;
}
.btn-playback:checked ~ label #pause {
  display: block;
}

.player-prev, .player-next {
  color: #898989;
  transition: color 0.02s, transform 0.1s;
}
.player-prev:hover, .player-next:hover {
  color: #E0E0E0;
  transform: scale(1.04);
}

.shuffle {
  color: #898989;
  transition: color 0.02s, transform 0.1s;
}
.shuffle:hover {
  color: #E0E0E0;
  transform: scale(1.04);
}

.repeat {
  color: #898989;
  transition: color 0.02s, transform 0.1s;
}
.repeat:hover {
  color: #E0E0E0;
  transform: scale(1.04);
}

.volume input {
  display: none;
  width: 70%;
  height: 4px;
  appearance: none;
  transform: translateX(20%) translateY(-100%) rotate(-90deg);
}
.volume .vol-icon {
  color: #898989;
  transition: color 0.02s, transform 0.1s;
}
.volume .vol-icon:hover {
  color: #E0E0E0;
  transform: scale(1.04);
}
.volume:hover input {
  display: block;
}

.right-cont .favorite {
  display: none;
}
.right-cont .favorite ~ label .fav {
  display: block;
}
.right-cont .favorite ~ label .fav-hover {
  display: none;
}
.right-cont .favorite:checked ~ label .fav {
  display: none;
}
.right-cont .favorite:checked ~ label .fav-hover {
  display: block;
}

.right-cont .add-btn {
  position: relative;
}
.right-cont .add-btn input[type=checkbox] {
  display: none;
}
.right-cont .add-btn label {
  cursor: pointer;
  color: #898989;
}
.right-cont .add-btn label:hover {
  color: #E0E0E0;
}
.right-cont .add-btn input:checked ~ label {
  color: #E0E0E0;
}
.right-cont .add-btn .add-window {
  display: none;
  z-index: 2;
}
.right-cont .add-btn .add-backdrop {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 1;
}
.right-cont .add-btn input:checked ~ .add-backdrop {
  display: block;
}
.right-cont .add-btn input:checked ~ .add-window {
  display: block;
}
.right-cont .add-btn .album-list .check-btn {
  display: none;
}
.right-cont .add-btn .album-list .check-btn ~ label .check {
  display: block;
}
.right-cont .add-btn .album-list .check-btn ~ label .check-hover {
  display: none;
}
.right-cont .add-btn .album-list .check-btn:checked ~ label .check {
  display: none;
}
.right-cont .add-btn .album-list .check-btn:checked ~ label .check-hover {
  display: block;
}
.right-cont .add-btn .Cancel, .right-cont .add-btn .Done {
  width: 154px;
  height: 39px;
  background-color: rgba(32, 32, 32, 0);
  color: #898989;
  margin: 15px 20px;
  border: none;
  border-radius: 10px;
}
.right-cont .add-btn .Cancel:hover, .right-cont .add-btn .Done:hover {
  background-color: #1ED760;
  color: #060606;
}

.right-cont .lyrics-btn input[type=checkbox] {
  display: none;
}
.right-cont .lyrics-btn label {
  cursor: pointer;
  color: #898989;
}
.right-cont .lyrics-btn label:hover {
  color: #E0E0E0;
}
.right-cont .lyrics-btn input:checked ~ label {
  color: #E0E0E0;
}
.right-cont .lyrics-btn .lyrics-window {
  display: none;
  z-index: 2;
}
.right-cont .lyrics-btn .lyrics-backdrop {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 1;
}
.right-cont .lyrics-btn input:checked ~ .lyrics-backdrop {
  display: block;
}
.right-cont .lyrics-btn input:checked ~ .lyrics-window {
  display: block;
}
.right-cont .lyrics-btn .sync-btn {
  display: none;
}
.right-cont .lyrics-btn .sync-btn ~ label .sync {
  display: block;
}
.right-cont .lyrics-btn .sync-btn ~ label .sync-hover {
  display: none;
}
.right-cont .lyrics-btn .sync-btn:checked ~ label .sync {
  display: none;
}
.right-cont .lyrics-btn .sync-btn:checked ~ label .sync-hover {
  display: block;
}
.right-cont .lyrics-btn .share-btn {
  display: none;
}
.right-cont .lyrics-btn .share-btn ~ label .share {
  display: block;
}
.right-cont .lyrics-btn .share-btn ~ label .share-hover {
  display: none;
}
.right-cont .lyrics-btn .share-btn:checked ~ label .share {
  display: none;
}
.right-cont .lyrics-btn .share-btn:checked ~ label .share-hover {
  display: block;
}

.right-cont .devices {
  color: #898989;
  transition: color 0.02s, transform 0.1s;
}
.right-cont .devices:hover {
  color: #E0E0E0;
  transform: scale(1.04);
}

.right-cont .more-button input[type=checkbox] {
  display: none;
}
.right-cont .more-button label {
  cursor: pointer;
  color: #898989;
}
.right-cont .more-button label:hover {
  color: #E0E0E0;
}
.right-cont .more-button input:checked ~ label {
  color: #E0E0E0;
}
.right-cont .more-button .more-window {
  display: none;
  z-index: 2;
}
.right-cont .more-button .more-backdrop {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 1;
}
.right-cont .more-button input:checked ~ .more-backdrop {
  display: block;
}
.right-cont .more-button input:checked ~ .more-window {
  display: block;
}

.right-cont .reaction-cont input[type=checkbox] {
  display: none;
}
.right-cont .reaction-cont .expand-box {
  display: none;
  flex-direction: row-reverse;
  position: relative;
  bottom: 95%;
  right: 80%;
  width: 190px;
  height: 40px;
  z-index: 10;
  background-color: rgba(9, 89, 183, 0.2);
  border-radius: 10px;
  transition: width 0.3s ease, opacity 0.3s ease;
}
.right-cont .reaction-cont .open-btn {
  cursor: pointer;
}
.right-cont .reaction-cont input:checked ~ .expand-box {
  display: flex;
  flex-direction: row;
}
.right-cont .reaction-cont .close-btn {
  cursor: pointer;
  margin: 5px 0 0 10px;
}

.right-cont .queue-container input[type=checkbox] {
  display: none;
}
.right-cont .queue-container label {
  cursor: pointer;
  color: #898989;
}
.right-cont .queue-container label:hover {
  color: #E0E0E0;
}
.right-cont .queue-container input:checked ~ label {
  color: #E0E0E0;
}
.right-cont .queue-container .queue-window {
  display: none;
  z-index: 2;
}
.right-cont .queue-container .queue-backdrop {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 1;
}
.right-cont .queue-container input:checked ~ .queue-backdrop {
  display: block;
}
.right-cont .queue-container input:checked ~ .queue-window {
  display: block;
}
.right-cont .dots, .right-cont .close, .right-cont .shuffle, .right-cont .repeat {
  color: #898989;
  transition: color 0.02s, transform 0.1s;
}
.right-cont .dots:hover, .right-cont .close:hover, .right-cont .shuffle:hover, .right-cont .repeat:hover {
  color: #E0E0E0;
  transform: scale(1.04);
}
.right-cont .dots, .right-cont .close, .right-cont .shuffle, .right-cont .repeat {
  width: 40.41px;
  height: 40.41px;
  margin-right: 5px;
}

.song-page .close-btn {
  width: 40.41px;
  height: 40.41px;
  cursor: pointer;
  margin-bottom: 18.59px;
  color: #898989;
  transition: color 0.15s;
}
.song-page .close-btn:hover {
  color: #E0E0E0;
}
.song-page .favorite {
  display: none;
}
.song-page .favorite ~ label .fav {
  display: block;
}
.song-page .favorite ~ label .fav-hover {
  display: none;
}
.song-page .favorite:checked ~ label .fav {
  display: none;
}
.song-page .favorite:checked ~ label .fav-hover {
  display: block;
}

.lyrics-input:checked ~ .song-header {
  display: none;
}

.lyrics-input:checked ~ .mobile-lyrics-view {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.lyrics-input:checked ~ .song-page-mobile .btn-lyrics svg {
  color: #E0E0E0;
}

.queue-input:checked ~ .song-header {
  display: none;
}

.queue-input:checked ~ .mobile-queue-view {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.queue-input:checked ~ .song-page-mobile .queue-btn svg {
  color: #E0E0E0;
}

.mobile-more-button input[type=checkbox] {
  display: none;
}
.mobile-more-button label {
  cursor: pointer;
  color: #898989;
}
.mobile-more-button label:hover {
  color: #E0E0E0;
}
.mobile-more-button input:checked ~ label {
  color: #E0E0E0;
}

/*# sourceMappingURL=styles.css.map */
