@use '../abstract/variables' as v;
@use '../abstract/mixins' as m;

.navbar {
    grid-area: nav;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 4px;
    z-index: 100;
   
    
   
    .navbar-container {
        display: flex;
        align-items: center;
        justify-content: space-between; 
        width: 100%; 
    }

    .nav-group {
        display: flex;
        align-items: center;
        gap: 20px;
        flex-shrink: 0; 
    }
}


.nav-link {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-left: 15px;
    padding-right: 105px;
    border-radius: 8px;
    color: #898989;
    transition: background-color 0.3s ease; 

  &:hover, 
    &.active { 
        background-color: #202020;
        color: #E0E0E0;
    }
}
.search-container {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding-right: 227px;
    transition: background-color 0.3s ease, outline 0.2s ease;
    

    
    &:focus-within {
        background-color: #2a2a2a;
        outline: 1px solid #ffffff; // High-contrast focus state
    }

    &:hover {
        background-color: #2a2a2a;
    }


    .search-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        cursor: pointer;

        img {
            width: 40px;
            height: 40px;
        }
    }

   

    .search-input {
        background: transparent;
        border: none;
        outline: none;
        color: #E0E0E0;
        width: 100%;
        font-size: 14px;

        &::placeholder {
            color: #898989;
        }
    }
}

.icon-section {
    display: flex;
    align-items: center;
    gap: 8px; // Space between icons

    .tool-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 41px;
        height: 41px;
        border-radius: 50%; 
        background: transparent;
        border: none;
        cursor: pointer;
        transition: background 0.3s ease;

        &:hover {
            background-color: #202020;
        }

        img {
            width: 41px;
            height: 41px;
        }
    }

    
}
    
   