@use '../abstract/variables' as v;
@use '../abstract/mixins' as m;

@media (min-width: 768px){
    .sidebar{
        background-color: #111111;
        margin-right: 5px;
        margin-top: 10px;
        border-radius: v.$radius-main;
    }
    .filter-wrapper {
    @include m.flex-center($direction: row, $justify: space-between);
    padding: 10px; 

    .filters-left {
        @include m.flex-center($gap: 10px);
    }

    .filter-nav-wrapper {
        @include m.flex-center($gap: 15px);
        
    }
    .filter-item {
    @include m.flex-center($gap: 5px);
    cursor: pointer; 
    transition: all 0.2s ease; 
    color: v.$secondary-text-color;

    &:hover {
       
    
        span {
            color: white; // Brighten text on hover
        }
    
    }
}
}
}