@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;

.search-page-body{
    .sidebar, .mobile-library {display:none;}
    background-color: rgba(17, 17, 17, 1);
    
    
    .player {display: block;}
    .navbar {display: none;}


}
.search-page {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 13px 15px;
}
.search-page-header-mobile {
    position: sticky;
    top: 0;
    background-color: rgba(17, 17, 17, 1);
    display: flex;
    flex-direction: row;
    gap: 14px;
    z-index: 10;
}
.search-container-mobile{
    @include flex-center (row, 76px, center);
    margin-top: 3px;
    min-width: 306px;
    min-height: 35.41px;
    background-color: rgba(32, 32, 32, 0.5);
    border-radius: $radius-main;

    input {
        color:rgba(137, 137, 137, 0.7) ;
        font-size: $font-size-medium;
        font-weight: $font-weight-medium;
        background: transparent;
        border: none;
        outline: none;
    }

    img {
        width: 35.41px;
        height: 35.41px;
    }
}
.search-camera{
    color: $secondary-text-color;
   
    &:hover {
        color: $primary-text-color;
    }
}
.recent-searches {display: none;}
.search-browse-section {
    display: flex;
    flex-direction: column;

    h3{
        color:$primary-text-color ;
        font-size:$font-size-large ;
        font-weight:$font-weight-bold ;
        margin-top:16.5px ;
    }
    .search-cards-row{
        p {
            margin: 14px 0;
            color:$primary-text-color ;
            font-size:18px ;
            font-weight:$font-weight-medium ;
        }

        .search-arrows{display: none;}
    }
}
.search-card-cont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px 0;
}

.discover-card-1{
    @include search-card (rgba(30, 50, 100, 1))
}
.discover-card-2{
    @include search-card (rgba(186, 93, 7, 1))
}
.discover-card-3{
    @include search-card (rgba(30, 50, 100, 1))
}
.discover-card-4{
    @include search-card (rgba(141, 103, 171, 1))
}
.discover-card-5{
    @include search-card (rgba(176, 40, 151, 1))
}
.discover-card-6{
    @include search-card (rgba(141, 103, 171, 1))
}
.discover-card-7{
    @include search-card (rgba(119, 119, 119, 1))
}
.discover-card-8{
    @include search-card (rgba(186, 93, 7, 1))
}


.genre-card-1{
    @include search-card (rgba(20, 138, 8, 1))
}
.genre-card-2{
    @include search-card (rgba(216, 64, 0, 1))
}
.genre-card-3{
    @include search-card (rgba(80, 55, 80, 1))
}
.genre-card-4{
    @include search-card (rgba(0, 100, 80, 1))
}
.genre-card-5{
    @include search-card (rgba(233, 20, 41, 1))
}
.genre-card-6{
    @include search-card (rgba(30, 50, 100, 1))
}
.genre-card-7{
    @include search-card (rgba(233, 20, 41, 1))
}
.genre-card-8{
    @include search-card (rgba(83, 122, 161, 1))
}



.mood-card-1{
    @include search-card (rgba(30, 50, 100, 1))
}
.mood-card-2{
    @include search-card (rgba(186, 93, 7, 1))
}
.mood-card-3{
    @include search-card (rgba(30, 50, 100, 1))
}
.mood-card-4{
    @include search-card (rgba(141, 103, 171, 1))
}
.mood-card-5{
    @include search-card (rgba(176, 40, 151, 1))
}
.mood-card-6{
    @include search-card (rgba(141, 103, 171, 1))
}
.mood-card-7{
    @include search-card (rgba(119, 119, 119, 1))
}
.mood-card-8{
    @include search-card (rgba(186, 93, 7, 1))
}


.entertainment-card-1{
    @include search-card (rgba(20, 138, 8, 1))
}
.entertainment-card-2{
    @include search-card (rgba(216, 64, 0, 1))
}
.entertainment-card-3{
    @include search-card (rgba(80, 55, 80, 1))
}
.entertainment-card-4{
    @include search-card (rgba(0, 100, 80, 1))
}


.Podcasts-card-1{
    @include search-card (rgba(176, 40, 151, 1))
}
.Podcasts-card-2{
    @include search-card (rgba(141, 103, 171, 1))
}
.Podcasts-card-3{
    @include search-card (rgba(119, 119, 119, 1))
}
.Podcasts-card-4{
    @include search-card (rgba(186, 93, 7, 1))
}


.Audiobooks-card-1{
    @include search-card (rgba(20, 138, 8, 1))
}
.Audiobooks-card-2{
    @include search-card (rgba(216, 64, 0, 1))
}
.Audiobooks-card-3{
    @include search-card (rgba(80, 55, 80, 1))
}
.Audiobooks-card-4{
    @include search-card (rgba(0, 100, 80, 1))
}
.Audiobooks-card-5{
    @include search-card (rgba(233, 20, 41, 1))
}