//background colors

$primary-color: #060606; // Black Metal
$secondary-color: #202020; // Aurora Black 
$secondary-color-50:#20202080;

//text colors

$primary-text-color: #E0E0E0; // Light Silver
$secondary-text-color: #898989; // Light Charcoal #898989B2

//border radius

$radius-main: 10px; // Main border radius for buttons and containers
$radius-small: 8px; //for some buttons
$radius-large: 12px; // for some containers

//font sizes 

$font-size-large: 20px; // for headings
$font-size-medium: 14px; // for main text
$font-size-small: 12px; // for small text

//font weights

$font-weight-bold: 700; // for headings
$font-weight-medium: 500; // for subheadings
$font-weight-regular: 400; // for main text
